/*------------------------*/
/* Imports the font style */
/*------------------------*/

@font-face {
	font-family: 'caveat-bold';
	src: url('../fonts/caveat-bold.ttf');
}

@font-face {
	font-family: 'caveat-regular';
	src: url('../fonts/caveat-regular.ttf');
}

@font-face {
	font-family: 'caveatbrush-regular';
	src: url('../fonts/caveatbrush-regular.ttf');
}

/*--------------------*/
/* Common properties */
/*------------------*/

html, body {
	height: 100%;
	min-height: 100%;
}

form {
	text-align: center;
	margin-left: 20%;
	margin-bottom: 10px;
}

body{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #0a3d62;
	font-family: 'caveat-regular', Monospace;
	font-size: 125%;
	letter-spacing: 2px;
}

/*-------------------------*/
/* wrapper class properties*/
/*-------------------------*/

.wrapper {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/backgrounds/register_bg.jpg");
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-width: 950px;
}

/*----------------------------*/
/* Login and register section */
/*---------------------------*/

.login_box {
	font-family: 'caveat-regular', Monospace;
	position: relative;
	margin-right: auto;
	margin-left: 55%;
	top: 15%;
	width: 35%;
	background-color: #d1d8e0;
	border: 1px solid #fafafb;
	border-radius: 10px;
	box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
	padding: 5px;
	opacity: 0.9;
}

.login_header {
	font-family: 'caveat-regular', Monospace;
	letter-spacing: 2px;
	word-spacing: 2px;
	width: 100%;
	height: 90%;
	color: #fff;
	background-color: #0a3d62;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 10px;
}

.login_header h1 {
	font-family: 'caveat-bold', Monospace;
	font-size: 350%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 2%;
	letter-spacing: 5px;
	text-shadow: #0a3d62 0.5px 0.5px 0;
}

.login_header p {
	font-size: 150%;
	margin: 0;
}

#first a {
	margin-left: -100px;
}

#second a {
	margin-left: -80px;
}

/*------------------------*/
/* input boxes properties */
/*------------------------*/

input[type="submit"] {
	background-color: #0a3d62;
	border: 1px solid #0a3d62;
	border-radius: 5px;
	margin: 10px 5px 10px 5px;
	padding: 1% 2%;
	color: #fff;
	text-shadow: #0a3d62 0.5px 0.5px 0px;
	font-family: 'caveat-bold', Monospace;
	font-size: 108%;
	margin-left: -75%;
}

#second input[type="submit"] {
	margin-left: -72%;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 70%;
	height: 35px;
	padding-left: 2%;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: -70px;
	border: 1px solid #e5e5e5;
	font-family: 'caveat-regular', Monospace;
	font-size: 120%;
	letter-spacing: 2px;
	word-spacing: 2px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
	border-color: #0a3d62;

}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	outline: none;
}

#second {
	display: none;
}




